<div class="p-2 m-2 bg-dark-teal rounded-xl flex justify-between md:m-4 lg:px-8 xl:mx-16  ">
  <div class="grid grid-cols-7 md:grid-cols-12 gap-2 w-full">
    <div class="col-span-2 flex items-center md:col-span-7">
      <img src="images/logo.svg" alt="" class="m-3 md:m-2 xl:mr-8">
      <div class="hidden md:flex md:items-center py-2">

        <ul class="flex gap-4 mr-2 lg:mr-8 ">
          @for (item of menuItems; track $index) {
          <li class="flex flex-col items-center gap-2 cursor-pointer font-bold text-sm"
            (click)="setActiveIconIndex($index)"
            [ngClass]="{'text-white': activeIndex === $index, 'text-gray-400': activeIndex !== $index}">
            <i [class]="item.icon"></i>
            <span>{{ item.text }}</span>
            @if (activeIndex===$index) {
            <i class="pi pi-circle-fill" style="font-size: 0.25rem;"></i>
            }
          </li>
          }
        </ul>
      </div>
    </div>

    <div class="col-span-5 flex items-center justify-end mr-4 md:col-span-5">
      <div class=" rounded-md ml-3 opacity-70 flex items-center flex-row-reverse "
        [ngClass]="isOpen?'md:w-[50%]':'md:w-[50%]'">
        <!-- Search icon ثابت -->
        <i class="pi pi-search text-light-green cursor-pointer px-2 py-3 rounded-l-md border border-light-green"
          [ngClass]="isOpen?'border-r-0 ':'rounded-r-md'" (click)="toggleSearch()"></i>

        <!-- Animated input -->
        <input type="text" placeholder="جستجو کنید..." class="bg-transparent outline-none text-light-green placeholder-light-green transition-all duration-250 ease-in-out
               overflow-hidden border border-light-green py-2 rounded-r-md pr-2 placeholder:font-semibold"
          [ngClass]="isOpen ? 'w-[85%] border-l-0 pl-2' : 'w-0 p-0 border-none opacity-0'" />
      </div>

      <div class="hidden md:w-[50%] xl:w-[35%] md:flex md:justify-end md:items-center md:ml-1">

        <button
          class="bg-light-green flex-shrink-0 text-black px-5 py-3 font-extralight ml-1 rounded-md text-sm lg:text-base lg:px-9 ">
          ورود |
          ثبت نام
        </button>
      </div>
    </div>
  </div>
</div>
