@if (showSignUp) {
<div>
  <form [formGroup]="signUpForm" class="grid grid-cols-2 gap-x-2" (ngSubmit)="signUpFormSubmit()">
    <!-- firstName -->
    <div class=" gap-4 col-span-1">
      <label class="text-gray-500 font-extralight" for="firstName">نام :</label>
      <input pInputText id="firstName" formControlName="firstName" required class="w-full form-control" />
      @if (signUpForm.get('firstName')?.invalid && (signUpForm.get('firstName')?.dirty ||
      signUpForm.get('firstName')?.touched)) {
      <div class="alert alert-danger">
        @if (signUpForm.get('firstName')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن نام اجباری است
        </div>
        }
      </div>
      }

    </div>
    <!-- last name -->
    <div class=" gap-4 col-span-1">
      <label class="text-gray-500  font-extralight" for="lastName">نام خانوادگی :</label>
      <input pInputText id="lastName" formControlName="lastName" required class="w-full" />
      @if (signUpForm.get('lastName')?.invalid && (signUpForm.get('lastName')?.dirty ||
      signUpForm.get('lastName')?.touched)) {
      <div class="alert alert-danger">
        @if (signUpForm.get('lastName')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن نام خادنوادگی اجباری است
        </div>
        }
      </div>
      }
    </div>

    <!-- mobileNumber -->
    <div class="gap-4 col-span-2 mt-4 ">
      <label class="text-gray-500 font-extralight" for="mobileNumber">شماره تماس :</label>
      <input pInputText id="mobileNumber" formControlName="mobileNumber" maxlength="11" class="w-full"
        (keypress)="allowOnlyNumbers($event)" />

      @if (signUpForm.get('mobileNumber')?.touched && signUpForm.get('mobileNumber')?.invalid) {
      <div class="alert alert-danger">
        @if (signUpForm.get('mobileNumber')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن شماره موبایل اجباری است
        </div>
        }
        @if (signUpForm.get('mobileNumber')?.hasError('pattern')) {
        <div class="text-red-600 font-light text-xs">
          شماره موبایل باید فقط ۱۱ رقم باشد
        </div>
        }
      </div>
      }
    </div>


    <!-- Email -->
    <div class="gap-4 col-span-2 mt-4">
      <label class="text-gray-500 font-extralight" for="email">ایمیل :</label>
      <input type="email" id="email" pInputText formControlName="email" class="w-full">
      @if (signUpForm.get('email')?.invalid && (signUpForm.get('email')?.dirty ||
      signUpForm.get('email')?.touched)) {
      <div class="alert alert-danger">
        @if (signUpForm.get('email')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن ایمیل اجباری است
        </div>
        }
      </div>
      }
    </div>

    <!-- Password -->
    <div class="col-span-1 mt-4">
      <label class="text-gray-500 font-extralight" for="password">رمز عبور:</label>
      <p-password formControlName="password" [feedback]="false" autocomplete="off" fluid class="w-full" />
      @if (signUpForm.get('password')?.invalid && (signUpForm.get('password')?.dirty ||
      signUpForm.get('password')?.touched)) {
      <div class="alert alert-danger">
        @if (signUpForm.get('password')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن رمز عبور اجباری است
        </div>
        }
      </div>
      }
    </div>

    <!-- Repeat Password -->
    <div class="col-span-1 mt-4">
      <label class="text-gray-500 font-extralight" for="repeat-password">تکرار رمز عبور:</label>
      <p-password formControlName="passwordConfirm" [feedback]="false" autocomplete="off" fluid class="w-full" />

      @if (signUpForm.hasError('mismatch') && signUpForm.touched) {
      <div class="text-red-600 font-light text-xs">
        عدم تطابق با رمز عبور
      </div>
      }

    </div>

    <!-- Submit -->
    <div class="mt-4 col-span-2">
      <button type="submit" [disabled]="!signUpForm.valid || isLoadingSignUp"
        class="bg-dark-teal w-full py-2 font-550 rounded-lg text-white" [ngClass]="{
           'bg-dark-teal' : signUpForm.valid && !isLoadingSignUp,
        'bg-gray-400' : !signUpForm.valid || isLoadingSignUp
        }">

        {{ isLoadingSignUp ? 'در حال ارسال اطلاعات ...' : 'ثبت نام' }}
      </button>
    </div>
  </form>

  <div class="flex justify-center mt-4 font-550">
    <span>
      حساب کاربری دارید؟
    </span>
    <span (click)="redirectToSignIn()" class="text-blue-700 px-1 cursor-pointer">اینجا</span>
    <span>را کلیک کنید</span>
  </div>
</div>
}@else if(!showSignUp){
<div>
  <form [formGroup]="signInForm" class="grid grid-cols-2 gap-x-2" (ngSubmit)="signInFormSubmit()">
    <!-- Email -->
    <div class="gap-4 col-span-2 mt-4">
      <label class="text-gray-500 font-extralight" for="email">ایمیل :</label>
      <input type="email" id="email" pInputText formControlName="email" class="w-full">
      @if (signInForm.get('email')?.invalid && (signInForm.get('email')?.dirty ||
      signInForm.get('email')?.touched)) {
      <div class="alert alert-danger">
        @if (signInForm.get('email')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن ایمیل اجباری است
        </div>
        }
      </div>
      }
    </div>

    <!-- Password -->
    <div class="col-span-2 mt-4">
      <label class="text-gray-500 font-extralight" for="password">رمز عبور:</label>
      <p-password formControlName="password" [feedback]="false" autocomplete="off" fluid class="w-full" />
      @if (signInForm.get('password')?.invalid && (signInForm.get('password')?.dirty ||
      signInForm.get('password')?.touched)) {
      <div class="alert alert-danger">
        @if (signInForm.get('password')?.hasError('required')) {
        <div class="text-red-600 font-light text-xs">
          وارد کردن رمز عبور اجباری است
        </div>
        }
      </div>
      }
    </div>


    <!-- Submit -->
    <div class="mt-4 col-span-2">
      <button type="submit" [disabled]="!signInForm.valid" class="w-full py-2 font-550 rounded-lg text-white" [ngClass]="{
          'bg-dark-teal ' : signInForm.valid,
          'bg-gray-500' : !signInForm.valid
        }">
        ورود
      </button>
    </div>
  </form>

  <div class="flex justify-center mt-4 font-550">
    <span>
      هنوز ثبت نام نکرده اید ؟
    </span>
    <span (click)="redirectToSignUp()" class="text-blue-700 px-1 cursor-pointer">اینجا</span>
    <span>را کلیک کنید</span>
  </div>
</div>
}
