<div class="footer-container mx-2 rounded-xl md:mx-4 lg:px-8 xl:mx-16 bg-dark-teal p-4 md:mx">
  <div class="retaurants-footer-details py-4 md:mx-8">

    <div class="restaurant-phone-and-logo flex flex-col md:flex-row md:justify-between ">
      <div class="restaurant-footer-logo  flex justify-center ">
        <img src="images/logo.svg" alt="logo" class="w-[120px]">
      </div>
      <div class="restaurant-footer-phone-contaner flex justify-center my-8 ">
        <span class="text-white flex items-center">{{'تماس با ترنج'}} </span>
        <span class="text-gray-300 font-light px-2 flex items-center">|</span>
        <div class="flex flex-row">
          <span class="text-white ">{{'3259756'}}</span>
          <span class="text-account-color ">{{'-021'}} </span>
        </div>
      </div>
    </div>
    <div class="restaurant-footer-info">
      <div class="restaurant-about-container mt-3">
        <span class="resturant-about-title text-gray-200">{{'درباره ترنج'}}</span>
        <p class="resturant-about-description text-gray-400 text-justify font-550 leading-8 mt-3">{{'به رستوران ما خوش
          آمدید!
          ما با
          محیط دلنشین،
          غذاهای
          خوشمزه و خدمات
          عالی، تجربه‌ای لذت‌بخش برای شما فراهم می‌کنیم. همیشه
          خوشحال می‌شویم که شما را در میان مهمانانمان دیدار کنیم. با فضایی آرامش بخش و غذاهایی متنوع و لذیذ، رستوران ما
          مناسبترین
          انتخاب برای تمام لحظات شاد و لذت بخش شماست.'}}</p>
      </div>
      <div class="lg:grid lg:grid-cols-2">
        <div class="useful-links-container col-span-1 mt-8 flex justify-between md:justify-start md:gap-x-11">
          <div class="useful-links-1">
            <span class="useful-links-title text-gray-300">لینک های مفید</span>
            <ul class="text-gray-400 leading-9 font-550 mt-4">
              <li class="cursor-pointer">خانه</li>
              <li class="cursor-pointer">سفارشات</li>
              <li class="cursor-pointer">علاقمندی</li>
              <li class="cursor-pointer">سبد خرید</li>
              <li class="cursor-pointer">تماس با ما</li>
              <li class="cursor-pointer">درباره ما</li>
            </ul>
          </div>
          <div class="useful-links-2">
            <span class="useful-links-title text-gray-300 ">لینک های مفید</span>
            <ul class="text-gray-400 leading-9 font-550 mt-4">
              <li class="cursor-pointer">خانه</li>
              <li class="cursor-pointer">سفارشات</li>
              <li class="cursor-pointer">علاقمندی</li>
              <li class="cursor-pointer">سبد خرید</li>
              <li class="cursor-pointer">تماس با ما</li>
              <li class="cursor-pointer">درباره ما</li>
            </ul>
          </div>
        </div>
        <div class="restaurant-contacts-container col-span-1 mt-8">
          <span class="resturant-contacts-title text-gray-300 ">اطلاعات تماس با ترنج</span>
          <div class="leading-10">
            <div class="resturant-footer-contact  flex justify-between items-center">
              <div>
                <i class="pi pi-map-marker text-gray-300 font-extralight"></i>
                <span class="mr-2 text-gray-300 font-550">آدرس : </span>
              </div>
              <span class="text-gray-400 font-[200] text-sm md:text-base">{{'تهران , خیابان حافظ , کوچه 50'}}</span>
            </div>
            <div class="resturant-footer-contact flex justify-between items-center">
              <div>
                <i class="pi pi-phone text-gray-300 font-extralight"></i>
                <span class="mr-2 text-gray-300 font-550">تلفن تماس : </span>
              </div>
              <span class="text-gray-400 font-[200] text-sm md:text-base">{{'021-2512313 - 021-123651'}}</span>
            </div>
            <div class="resturant-footer-contact  flex justify-between items-center">
              <div>
                <i class="pi pi-instagram text-gray-300 font-extralight"></i>
                <span class="mr-2 text-gray-300 font-550">آدرس اینستاگرام : </span>
              </div>
              <span class="text-gray-400 font-[200] text-sm md:text-base">{{'torang@'}}</span>
            </div>
            <div class="resturant-footer-contact">
              <div>
                <i class="pi pi-clock text-gray-300 font-extralight"></i>
                <span class="mr-2 text-gray-300 font-550">ساعت کاری کافه رستوران ترنج : </span>
              </div>
              <p class="text-gray-400 font-[200]">{{'همه روزه (بجز جمعه ها) : 8 صبح الی 3 بعد از ظهر و 4 عصر الی 11 شب
                جمعه ها: 4
                عصر الی 11 شب'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="restaurant-social-media"></div>
</div>
