<div class="footer-container mx-2 rounded-xl md:mx-4 lg:px-8 xl:mx-16 bg-dark-teal p-4 md:mx">
  <div class="retaurants-footer-details py-4">

    <div class="restaurant-phone-and-logo flex flex-col md:flex-row md:justify-between md:mx-8">
      <div class="restaurant-footer-logo  flex justify-center ">
        <img src="images/logo.svg" alt="logo" class="w-[120px]">
      </div>
      <div class="restaurant-footer-phone-contaner flex justify-center my-8 ">
        <span class="text-white flex items-center">{{'تماس با ترنج'}} </span>
        <span class="text-gray-300 font-light px-2 flex items-center">|</span>
        <div class="flex flex-row">
          <span class="text-white ">{{'3259756'}}</span>
          <span class="text-account-color ">{{'-021'}} </span>
        </div>
      </div>
    </div>
    <div class="restaurant-footer-info">
    </div>
  </div>
  <div class="restaurant-social-media"></div>
</div>
