<div class="fixed inset-x-0 bottom-0 bg-white pt-1 pb-2 shadow-2xl shadow-black">
  <div class="flex justify-around items-center h-16">
    <!-- Navigation Links -->
    <a class="flex flex-col items-center justify-center w-1/5 gap-y-2 text-gray-500 hover:text-gray-700"
      (click)="setActive('home')" [ngClass]="{
     'text-dark-teal font-extrabold': activeLink === 'home',
        'text-gray-500': activeLink !== 'home'
    }">
      <i class="pi pi-home" style="font-size: 1.5rem"></i>
      <span class="text-xs">خانه</span>
      @if (activeLink==='home') {
      <span class="block w-1 h-1 bg-account-color rounded-full mt-1"></span>
      }
    </a>
    <a class="flex flex-col items-center justify-center w-1/5 gap-y-2 text-gray-500 hover:text-gray-700"
      (click)="setActive('orders')" [ngClass]="{
     'text-dark-teal font-extrabold': activeLink === 'orders',
        'text-gray-500': activeLink !== 'orders'
    }">
      <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
      <span class="text-xs">سفارشات</span>
      @if (activeLink==='orders') {
      <span class="block w-1 h-1 bg-account-color rounded-full mt-1"></span>
      }
    </a>

    <!-- Central Shopping Cart Button -->
    <div class="relative w-1/5">
      <div class="absolute -top-16 left-1/2 transform -translate-x-1/2">
        <button class="bg-dark-teal text-white rounded-full w-16 h-16 flex items-center justify-center shadow-lg">
          <i class="pi pi-shopping-bag" style="font-size: 1.5rem"></i>
          <span
            class="absolute top-0 right-0 inline-block w-4 h-4 bg-account-color text-white text-xs font-bold rounded-full">
            <span class="flex justify-center items-center mt-[2px] text-xs">10</span>
          </span>
        </button>
      </div>
    </div>

    <a class="flex flex-col items-center justify-center w-1/5 gap-y-2 text-gray-500 hover:text-gray-700"
      (click)="setActive('favorite')" [ngClass]="{
     'text-dark-teal font-extrabold': activeLink === 'favorite',
        'text-gray-500': activeLink !== 'favorite'
    }">
      <i class="pi pi-heart" style="font-size: 1.5rem"></i>
      <span class="text-xs">علاقه مندی</span>
      @if (activeLink==='favorite') {
      <span class="block w-1 h-1 bg-account-color rounded-full mt-1"></span>
      }
    </a>
    <a class="flex flex-col items-center justify-center w-1/5 gap-y-2" (click)="handleProfileClick()" [ngClass]="{
     'text-dark-teal font-extrabold': activeLink === 'profile',
        'text-gray-500': activeLink !== 'profile'
    }">
      <i class="pi pi-user" style="font-size: 1.5rem"></i>
      <span class="text-xs">ورود</span>
      @if (activeLink==='profile') {
      <span class="block w-1 h-1 bg-account-color rounded-full mt-1"></span>
      }
    </a>
  </div>
</div>

<p-dialog [header]="dialogHeader" [(visible)]="displayLoginDialog" [modal]="true" [draggable]="false"
  [resizable]="false" [style]="{width: '80%'}">
  <app-register-login (modeChange)="onModeChange($event)" />
</p-dialog>
