<div class="grid mobile-footer-section grid-cols-2 gap-x-20">
  <div class="mobile-footer-right-section col-span-1 border grid grid-cols-2">
    <button class="col-span-1">
      <i class="pi pi-home" style="font-size: 1.5rem"></i>
    </button>
    <button class="col-span-1">
      <i class="pi pi-user" style="font-size: 1.5rem"></i>
    </button>
  </div>

  <div class="mobile-footer-left-section col-span-1 border grid grid-cols-2">
    <button class="col-span-1">
      <i class="pi pi-heart" style="font-size: 1.5rem"></i>
    </button>
    <button class="col-span-1">
      <i class="pi pi-shopping-cart" style="font-size: 1.5rem"></i>
    </button>
  </div>

</div>
