@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Medium.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Peyda";
  src: url("/fonts/[EC]PeydaWeb-Thin.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Peyda", sans-serif;
}

:host::ng-deep .p-carousel-items-content {
  touch-action: pan-y !important;
}
